<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FleetMgtSolution.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
     
    <add name="FleetMgtSysConnection" connectionString="Data Source=(local);Initial Catalog=FleetMgtSysDB;Integrated Security=False; User=AppAdmin;password=password123@" providerName="System.Data.SqlClient" />
    <add name="OraConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL = TCP)(HOST = 172.20.10.56)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = prod)));User ID=apps; password=apps ;" />
    <add name="FleetMgtSysDBEntities" connectionString="metadata=res://*/FleetMgt.csdl|res://*/FleetMgt.ssdl|res://*/FleetMgt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=FleetMgtSysDB;persist security info=True;user id=AppAdmin;password=password123@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="FleetMgtSysDBEntities" connectionString="metadata=res://*/FleetMgt.csdl|res://*/FleetMgt.ssdl|res://*/FleetMgt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PROJECTEXCEL6\MSSQLSVR_DEV;initial catalog=FleetMgtSysDB;persist security info=True;user id=UserAdmin;password=amcon123@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="smsSender" value="AMCON" />
    <add key="smtpServer" value="172.20.10.15" />
    <add key="exUser" value="AmconAlert@amcon.com.ng" />
    <add key="exPwd" value="finnone2$" />
    <add key="adminRole" value="Administrator" />
    <add key="GssAdminRole" value="GssAdmin" />
    <add key="DeptApprverRole" value="DeptApprover" />
    <add key="DeptIniRole" value="DeptInitiator" />
    <add key="HeadDriverRole" value="HeadDriver" />
    <add key="appLogoUrl" value="http://172.20.10.8/EasyFleetTEST/img/easyfleetlogo.png" />
    <add key="siteUrl" value="http://172.20.10.8/EasyFleetTEST/Login.aspx" />
    <add key="GssMailGrp" value="temitope.fatayo@amcon.com.ng" />
    <add key="headDriverMail" value="temitope.fatayo@amcon.com.ng" />
    <add key="VehMaintenance_IncidentID" value="1" />
    <add key="dualRole" value="110013," />
  </appSettings>
  <system.web>
    <sessionState timeout="5"></sessionState>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30" />
    </authentication>
    <authorization>
      <!--<deny users="?"/>-->
    </authorization>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="FleetMgtSysConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="FleetMgtSysConnection" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="FleetMgtSysConnection" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <location path="BackOffice">
    <system.web>
      <authorization>
        <!--<allow users="*" />-->
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <applicationSettings>
    <FleetMgtSolution.Properties.Settings>
      <setting name="FleetMgtSolution_ADAuth_Service" serializeAs="String">
        <value>http://172.20.10.8/AMCONService/Service.asmx</value>
      </setting>
    </FleetMgtSolution.Properties.Settings>
  </applicationSettings>
</configuration>